In [1]:
import statistics
import numpy as np
import pandas as pd
from marcap import marcap_data
from datetime import datetime, timedelta

In [2]:
# 백테스트 기간의 가격 정보를 가져온다.
df_price = marcap_data('2000-01-01', '2019-12-31')

In [96]:
quarter_start_month = [1, 4, 7, 10]
days = []
year = 2002
for i in range(60):
    month = quarter_start_month[i % 4]
    start_date = datetime(year, month, 1)
    
    if month == 10:
        year += 1
    
    month = quarter_start_month[(i + 1) % 4]
    end_date = datetime(year, month, 1) - timedelta(days=1)
    
    day = {'start_date':start_date, 'end_date':end_date}
    days.append(day)

In [97]:
df_account = pd.DataFrame(columns=['start_date', 'end_date'])

In [98]:
df_account = df_account.append(days)

In [99]:
df_account

   start_date   end_date
0  2002-01-01 2002-03-31
1  2002-04-01 2002-06-30
2  2002-07-01 2002-09-30
3  2002-10-01 2002-12-31
4  2003-01-01 2003-03-31
5  2003-04-01 2003-06-30
6  2003-07-01 2003-09-30
7  2003-10-01 2003-12-31
8  2004-01-01 2004-03-31
9  2004-04-01 2004-06-30
10 2004-07-01 2004-09-30
11 2004-10-01 2004-12-31
12 2005-01-01 2005-03-31
13 2005-04-01 2005-06-30
14 2005-07-01 2005-09-30
15 2005-10-01 2005-12-31
16 2006-01-01 2006-03-31
17 2006-04-01 2006-06-30
18 2006-07-01 2006-09-30
19 2006-10-01 2006-12-31
20 2007-01-01 2007-03-31
21 2007-04-01 2007-06-30
22 2007-07-01 2007-09-30
23 2007-10-01 2007-12-31
24 2008-01-01 2008-03-31
25 2008-04-01 2008-06-30
26 2008-07-01 2008-09-30
27 2008-10-01 2008-12-31
28 2009-01-01 2009-03-31
29 2009-04-01 2009-06-30
30 2009-07-01 2009-09-30
31 2009-10-01 2009-12-31
32 2010-01-01 2010-03-31
33 2010-04-01 2010-06-30
34 2010-07-01 2010-09-30
35 2010-10-01 2010-12-31
36 2011-01-01 2011-03-31
37 2011-04-01 2011-06-30
38 2011-07-01 2011-09-30
39 2011-10-01 2011-12-31
40 2012-01-01 2012-03-31
41 2012-04-01 2012-06-30
42 2012-07-01 2012-09-30
43 2012-10-01 2012-12-31
44 2013-01-01 2013-03-31
45 2013-04-01 2013-06-30
46 2013-07-01 2013-09-30
47 2013-10-01 2013-12-31
48 2014-01-01 2014-03-31
49 2014-04-01 2014-06-30
50 2014-07-01 2014-09-30
51 2014-10-01 2014-12-31
52 2015-01-01 2015-03-31
53 2015-04-01 2015-06-30
54 2015-07-01 2015-09-30
55 2015-10-01 2015-12-31
56 2016-01-01 2016-03-31
57 2016-04-01 2016-06-30
58 2016-07-01 2016-09-30
59 2016-10-01 2016-12-31

In [108]:
def get_stocks(start_date):
    print(start_date)
    year_start_date = start_date - timedelta(days=365)
    year_end_date = start_date - timedelta(days=30)
    df_year_price = df_price[(df_price.index > year_start_date) & (df_price.index <= year_end_date)].reset_index()
    
    df_year_price['plus'] = df_year_price['Close'] > df_year_price['Open']
    df_year_price['minus'] = df_year_price['Close'] < df_year_price['Open']
    df_year_price['equal'] = df_year_price['Close'] == df_year_price['Open']
    
    # 종목별로 과거 수익률 구하기 (마지막 1달은 제외)
    df_stock_yield = df_year_price.groupby("Code").agg({'Open': 'first', 
                                                        'Close': 'last', 
                                                        'plus': 'sum',
                                                        'minus': 'sum',
                                                        'equal': 'sum',
                                                        'Date': 'last', 
                                                        'Marcap': 'last'}).reset_index()
    
    df_stock_yield['diff'] = df_stock_yield.apply(lambda x: (year_end_date - x['Date']).days, axis=1)
    df_stock_yield = df_stock_yield[df_stock_yield['diff'] < 7]
    
    # open 가격이 0인 것 제외
    df_stock_yield = df_stock_yield[df_stock_yield['Open'] > 0]
    
    # 시총 하위 50%만 필터링
    df_stock_yield = df_stock_yield.sort_values(by=['Marcap'])
    df_stock_yield = df_stock_yield[:int(len(df_stock_yield)*0.5)]
    
    df_stock_yield['yield'] = df_stock_yield['Close'] / df_stock_yield['Open']
    
#     # ID 구하기
#     df_stock_yield['all'] = df_stock_yield['plus'] + df_stock_yield['minus'] + df_stock_yield['equal']
#     df_stock_yield['plus_rate'] = df_stock_yield['plus'] / df_stock_yield['all']
#     df_stock_yield['minus_rate'] = df_stock_yield['minus'] / df_stock_yield['all']
#     df_stock_yield['id'] = (df_stock_yield['yield'] > 1.0) * (df_stock_yield['minus_rate'] - df_stock_yield['plus_rate'])
    
#     df_stock_yield['1/id'] = 1 / df_stock_yield['id']
#     df_stock_yield['RANK_1'] = df_stock_yield['yield'].rank(ascending=False) # 높을 수록 좋음
#     df_stock_yield['RANK_2'] = df_stock_yield['1/id'].rank(ascending=False) # 높을 수록 좋음
#     df_stock_yield['TOTAL_RANK'] = df_stock_yield['RANK_1'] + df_stock_yield['RANK_2']
    
#     df_stock_yield = df_stock_yield.sort_values(by=['TOTAL_RANK'], ascending=False)
    
    df_stock_yield = df_stock_yield.sort_values(by=['yield'], ascending=True)
    #print(df_stock_yield[:30])
    
    return df_stock_yield['Code'].tolist()[:30]

In [109]:
# 종목을 구한다.
df_account['stocks'] = df_account.apply(lambda x: get_stocks(x.start_date), axis=1)

2002-01-01 00:00:00
2002-04-01 00:00:00
2002-07-01 00:00:00
2002-10-01 00:00:00
2003-01-01 00:00:00
2003-04-01 00:00:00
2003-07-01 00:00:00
2003-10-01 00:00:00
2004-01-01 00:00:00
2004-04-01 00:00:00
2004-07-01 00:00:00
2004-10-01 00:00:00
2005-01-01 00:00:00
2005-04-01 00:00:00
2005-07-01 00:00:00
2005-10-01 00:00:00
2006-01-01 00:00:00
2006-04-01 00:00:00
2006-07-01 00:00:00
2006-10-01 00:00:00
2007-01-01 00:00:00
2007-04-01 00:00:00
2007-07-01 00:00:00
2007-10-01 00:00:00
2008-01-01 00:00:00
2008-04-01 00:00:00
2008-07-01 00:00:00
2008-10-01 00:00:00
2009-01-01 00:00:00
2009-04-01 00:00:00
2009-07-01 00:00:00
2009-10-01 00:00:00
2010-01-01 00:00:00
2010-04-01 00:00:00
2010-07-01 00:00:00
2010-10-01 00:00:00
2011-01-01 00:00:00
2011-04-01 00:00:00
2011-07-01 00:00:00
2011-10-01 00:00:00
2012-01-01 00:00:00
2012-04-01 00:00:00
2012-07-01 00:00:00
2012-10-01 00:00:00
2013-01-01 00:00:00
2013-04-01 00:00:00
2013-07-01 00:00:00
2013-10-01 00:00:00
2014-01-01 00:00:00
2014-04-01 00:00:00
2014-07-01 00:00:00
2014-10-01 00:00:00
2015-01-01 00:00:00
2015-04-01 00:00:00
2015-07-01 00:00:00
2015-10-01 00:00:00
2016-01-01 00:00:00
2016-04-01 00:00:00
2016-07-01 00:00:00
2016-10-01 00:00:00

In [110]:
df_account['yield'] = 0.0
for i, row in df_account.iterrows():
    start_date = df_account.iloc[i].start_date
    end_date = df_account.iloc[i].end_date
    df_year_price = df_price[(df_price.index >= start_date) & (df_price.index <= end_date)]
    
    stocks = row['stocks']
    yields = []
    
    for stock in stocks:
        df_stock_price = df_year_price[df_year_price['Code'] == stock]
        
        if len(df_stock_price) == 0:
            continue
            
        start_price = df_stock_price.iloc[0]['Open']
        end_price = df_stock_price.iloc[len(df_stock_price) - 1]['Close']

        yields.append(end_price / start_price)
    
    yearly_yield = statistics.mean(yields)
    df_account.at[i, 'yield'] = yearly_yield
    
    print(start_date, end_date, yearly_yield)

2002-01-01 00:00:00 2002-03-31 00:00:00 1.0273719935512087
2002-04-01 00:00:00 2002-06-30 00:00:00 0.7252767656686325
2002-07-01 00:00:00 2002-09-30 00:00:00 0.7477755151366043
2002-10-01 00:00:00 2002-12-31 00:00:00 0.9572679364002984
2003-01-01 00:00:00 2003-03-31 00:00:00 1.0766591988965784
2003-04-01 00:00:00 2003-06-30 00:00:00 1.3129668714947478
2003-07-01 00:00:00 2003-09-30 00:00:00 0.9275325796406876
2003-10-01 00:00:00 2003-12-31 00:00:00 0.9886188719071263
2004-01-01 00:00:00 2004-03-31 00:00:00 1.010016781549762
2004-04-01 00:00:00 2004-06-30 00:00:00 1.9796766498710963
2004-07-01 00:00:00 2004-09-30 00:00:00 1.9353285062895744
2004-10-01 00:00:00 2004-12-31 00:00:00 2.436401457271831
2005-01-01 00:00:00 2005-03-31 00:00:00 2.8682819302856957
2005-04-01 00:00:00 2005-06-30 00:00:00 1.5705443753047832
2005-07-01 00:00:00 2005-09-30 00:00:00 1.2948097233711906
2005-10-01 00:00:00 2005-12-31 00:00:00 1.4538784426525542
2006-01-01 00:00:00 2006-03-31 00:00:00 6.412596973302063
2006-04-01 00:00:00 2006-06-30 00:00:00 0.8641064377224488
2006-07-01 00:00:00 2006-09-30 00:00:00 1.8298773238457933
2006-10-01 00:00:00 2006-12-31 00:00:00 1.411236615165269
2007-01-01 00:00:00 2007-03-31 00:00:00 2.304104757925926
2007-04-01 00:00:00 2007-06-30 00:00:00 2.366305247636628
2007-07-01 00:00:00 2007-09-30 00:00:00 2.3551738397529833
2007-10-01 00:00:00 2007-12-31 00:00:00 0.9076137526061812
2008-01-01 00:00:00 2008-03-31 00:00:00 1.494234805981329
2008-04-01 00:00:00 2008-06-30 00:00:00 3.7654971017818557
2008-07-01 00:00:00 2008-09-30 00:00:00 0.6416953417608199
2008-10-01 00:00:00 2008-12-31 00:00:00 0.7965950434128168
2009-01-01 00:00:00 2009-03-31 00:00:00 2.370777186345904
2009-04-01 00:00:00 2009-06-30 00:00:00 1.0870362531839555
2009-07-01 00:00:00 2009-09-30 00:00:00 0.8558286489296781
2009-10-01 00:00:00 2009-12-31 00:00:00 1.4460873416998807
2010-01-01 00:00:00 2010-03-31 00:00:00 2.3669853262509193
2010-04-01 00:00:00 2010-06-30 00:00:00 2.145346500264505
2010-07-01 00:00:00 2010-09-30 00:00:00 1.8819154265410967
2010-10-01 00:00:00 2010-12-31 00:00:00 2.2614660229213652
2011-01-01 00:00:00 2011-03-31 00:00:00 1.7880111109785968
2011-04-01 00:00:00 2011-06-30 00:00:00 1.2605553809428331
2011-07-01 00:00:00 2011-09-30 00:00:00 0.9811955123803411
2011-10-01 00:00:00 2011-12-31 00:00:00 1.4379428968319725
2012-01-01 00:00:00 2012-03-31 00:00:00 1.086273636899303
2012-04-01 00:00:00 2012-06-30 00:00:00 1.1582409580655537
2012-07-01 00:00:00 2012-09-30 00:00:00 0.8971192218916023
2012-10-01 00:00:00 2012-12-31 00:00:00 1.436391792161997
2013-01-01 00:00:00 2013-03-31 00:00:00 1.1303103689985667
2013-04-01 00:00:00 2013-06-30 00:00:00 0.8968051358935673
2013-07-01 00:00:00 2013-09-30 00:00:00 1.2481137988959443
2013-10-01 00:00:00 2013-12-31 00:00:00 0.8110860246306557
2014-01-01 00:00:00 2014-03-31 00:00:00 1.0623441927600008
2014-04-01 00:00:00 2014-06-30 00:00:00 1.7463983593112111
2014-07-01 00:00:00 2014-09-30 00:00:00 1.4918855359996015
2014-10-01 00:00:00 2014-12-31 00:00:00 0.9636515630860086
2015-01-01 00:00:00 2015-03-31 00:00:00 1.2735848141956017
2015-04-01 00:00:00 2015-06-30 00:00:00 1.1932193612955728
2015-07-01 00:00:00 2015-09-30 00:00:00 1.0570556022493087
2015-10-01 00:00:00 2015-12-31 00:00:00 2.2942525403492158
2016-01-01 00:00:00 2016-03-31 00:00:00 1.2252214155318926
2016-04-01 00:00:00 2016-06-30 00:00:00 1.8606091152800417
2016-07-01 00:00:00 2016-09-30 00:00:00 1.0290593655638691
2016-10-01 00:00:00 2016-12-31 00:00:00 0.9826215670271389

In [111]:
df_account['cum_yield'] = df_account['yield'].cumprod()

In [112]:
df_account

,start_date,end_date,stocks,yield,cum_yield
0,2002-01-01,2002-03-31,"[037750, 001000, 008080, 044960, 009337, 03325...",1.027372,1.027372e+00
1,2002-04-01,2002-06-30,"[012280, 033190, 037750, 001000, 044960, 03663...",0.725277,7.451290e-01
2,2002-07-01,2002-09-30,"[019430, 053110, 046320, 037110, 015390, 04457...",0.747776,5.571892e-01
3,2002-10-01,2002-12-31,"[045050, 019430, 053110, 037760, 052670, 05117...",0.957268,5.333794e-01
4,2003-01-01,2003-03-31,"[014047, 014045, 014040, 049790, 045050, 02474...",1.076659,5.742678e-01
5,2003-04-01,2003-06-30,"[045050, 038520, 015540, 003930, 014940, 06055...",1.312967,7.539946e-01
6,2003-07-01,2003-09-30,"[013000, 035400, 002930, 013005, 044490, 02367...",0.927533,6.993546e-01
7,2003-10-01,2003-12-31,"[035400, 028305, 013000, 023670, 025460, 01491...",0.988619,6.913952e-01
8,2004-01-01,2004-03-31,"[025460, 023670, 025950, 054530, 012620, 03680...",1.010017,6.983207e-01
9,2004-04-01,2004-06-30,"[025950, 039000, 025460, 011320, 023670, 06713...",1.979677,1.382449e+00
10,2004-07-01,2004-09-30,"[036910, 025460, 010670, 037120, 010580, 04150...",1.935329,2.675493e+00
11,2004-10-01,2004-12-31,"[025950, 021060, 070080, 007770, 001840, 01554...",2.436401,6.518576e+00
12,2005-01-01,2005-03-31,"[042960, 037640, 010580, 058550, 007770, 05408...",2.868282,1.869711e+01
13,2005-04-01,2005-06-30,"[042960, 007770, 010580, 054080, 049720, 02691...",1.570544,2.936465e+01
14,2005-07-01,2005-09-30,"[008030, 044775, 007370, 053470, 032080, 03550...",1.294810,3.802163e+01
15,2005-10-01,2005-12-31,"[037030, 038980, 005710, 041500, 033850, 05389...",1.453878,5.527883e+01
16,2006-01-01,2006-03-31,"[054250, 054780, 005350, 039670, 003310, 03208...",6.412597,3.544808e+02
17,2006-04-01,2006-06-30,"[050050, 052290, 033190, 023150, 005350, 01889...",0.864106,3.063092e+02
18,2006-07-01,2006-09-30,"[003280, 009620, 009420, 054180, 014570, 01170...",1.829877,5.605082e+02
19,2006-10-01,2006-12-31,"[080570, 003280, 007110, 003310, 001810, 00962...",1.411237,7.910097e+02
20,2007-01-01,2007-03-31,"[074130, 010420, 016600, 014590, 088810, 00503...",2.304105,1.822569e+03
21,2007-04-01,2007-06-30,"[010420, 074130, 032030, 014570, 014590, 00946...",2.366305,4.312755e+03
22,2007-07-01,2007-09-30,"[014590, 007480, 004530, 037380, 044370, 03590...",2.355174,1.015729e+04
23,2007-10-01,2007-12-31,"[004530, 007480, 010600, 044380, 037230, 00941...",0.907614,9.218895e+03
24,2008-01-01,2008-03-31,"[038920, 004530, 007480, 005760, 010600, 08915...",1.494235,1.377519e+04
25,2008-04-01,2008-06-30,"[065810, 032590, 055250, 054180, 007050, 01060...",3.765497,5.187045e+04
26,2008-07-01,2008-09-30,"[010600, 089150, 001950, 002355, 019300, 03275...",0.641695,3.328503e+04
27,2008-10-01,2008-12-31,"[023790, 031960, 001950, 009010, 032750, 01604...",0.796595,2.651469e+04
28,2009-01-01,2009-03-31,"[009320, 053070, 016040, 101140, 009010, 08014...",2.370777,6.286041e+04
29,2009-04-01,2009-06-30,"[053070, 101140, 016040, 024890, 076090, 02105...",1.087036,6.833155e+04
30,2009-07-01,2009-09-30,"[053070, 040020, 059720, 101140, 046240, 03319...",0.855829,5.848010e+04
31,2009-10-01,2009-12-31,"[046320, 035500, 033880, 033885, 058900, 05465...",1.446087,8.456733e+04
32,2010-01-01,2010-03-31,"[020075, 020070, 047450, 007490, 065340, 01616...",2.366985,2.001696e+05
33,2010-04-01,2010-06-30,"[078700, 056850, 020070, 041800, 008320, 02007...",2.145347,4.294332e+05
34,2010-07-01,2010-09-30,"[028090, 016140, 035400, 066790, 032860, 04155...",1.881915,8.081570e+05
35,2010-10-01,2010-12-31,"[089240, 048640, 048140, 066790, 016140, 08802...",2.261466,1.827620e+06
36,2011-01-01,2011-03-31,"[047450, 052210, 046240, 048640, 014970, 08881...",1.788011,3.267804e+06
37,2011-04-01,2011-06-30,"[102280, 011690, 032380, 008700, 016140, 01497...",1.260555,4.119248e+06
38,2011-07-01,2011-09-30,"[119250, 031950, 050470, 060900, 089480, 06114...",0.981196,4.041788e+06
39,2011-10-01,2011-12-31,"[119250, 066340, 006110, 060900, 025880, 02494...",1.437943,5.811860e+06
40,2012-01-01,2012-03-31,"[026220, 119250, 001020, 015390, 005670, 05671...",1.086274,6.313270e+06
41,2012-04-01,2012-06-30,"[119250, 001020, 000890, 024940, 005255, 00525...",1.158241,7.312288e+06
42,2012-07-01,2012-09-30,"[008540, 065310, 030960, 037240, 000890, 01240...",0.897119,6.559994e+06
43,2012-10-01,2012-12-31,"[007150, 011800, 019260, 000890, 030960, 00901...",1.436392,9.422722e+06
44,2013-01-01,2013-03-31,"[045050, 046430, 006060, 005880, 052420, 03545...",1.130310,1.065060e+07
45,2013-04-01,2013-06-30,"[004920, 006060, 005900, 052650, 031920, 08870...",0.896805,9.551513e+06
46,2013-07-01,2013-09-30,"[012410, 004920, 000425, 004790, 061460, 00474...",1.248114,1.192138e+07
47,2013-10-01,2013-12-31,"[049000, 010470, 000420, 004720, 118000, 00214...",0.811086,9.669261e+06
48,2014-01-01,2014-03-31,"[110310, 000420, 023600, 126340, 007720, 01067...",1.062344,1.027208e+07
49,2014-04-01,2014-06-30,"[096040, 065180, 007720, 068330, 002140, 08683...",1.746398,1.793915e+07
50,2014-07-01,2014-09-30,"[151750, 126340, 002290, 096040, 068330, 04067...",1.491886,2.676316e+07
51,2014-10-01,2014-12-31,"[110500, 013340, 046400, 002290, 002410, 07252...",0.963652,2.579036e+07
52,2015-01-01,2015-03-31,"[002290, 149130, 002410, 037950, 086830, 06833...",1.273585,3.284621e+07
53,2015-04-01,2015-06-30,"[149130, 006740, 002290, 004320, 002410, 05242...",1.193219,3.919273e+07
54,2015-07-01,2015-09-30,"[007280, 024900, 006740, 014580, 004100, 00410...",1.057056,4.142890e+07
55,2015-10-01,2015-12-31,"[024900, 038010, 007280, 014580, 006740, 00427...",2.294253,9.504835e+07
56,2016-01-01,2016-03-31,"[038010, 014580, 006740, 025270, 004100, 00427...",1.225221,1.164553e+08
57,2016-04-01,2016-06-30,"[007280, 025270, 014580, 004100, 004270, 03027...",1.860609,2.166777e+08
58,2016-07-01,2016-09-30,"[228180, 005745, 005725, 001000, 002900, 07886...",1.029059,2.229743e+08
59,2016-10-01,2016-12-31,"[074150, 005745, 037340, 228180, 005725, 01554...",0.982622,2.190993e+08

In [113]:
pow(df_account.iloc[len(df_account) - 1]['cum_yield'], 1 / ( (3 * len(df_account)) / 12))

3.5978473668448836