In [125]:
import statistics
import numpy as np
import pandas as pd
from marcap import marcap_data
from datetime import datetime, timedelta

In [4]:
# 백테스트 기간의 가격 정보를 가져온다.
df_price = marcap_data('2000-01-01', '2019-12-31')

In [191]:
quarter_start_month = [1, 4, 7, 10]
days = []
year = 2002
for i in range(30):
    month = quarter_start_month[i % 4]
    start_date = datetime(year, month, 1)
    
    if month == 10:
        year += 1
    
    month = quarter_start_month[(i + 1) % 4]
    end_date = datetime(year, month, 1) - timedelta(days=1)
    
    day = {'start_date':start_date, 'end_date':end_date}
    days.append(day)

In [192]:
df_account = pd.DataFrame(columns=['start_date', 'end_date'])

In [193]:
df_account = df_account.append(days)

In [194]:
df_account

   start_date   end_date
0  2002-01-01 2002-03-31
1  2002-04-01 2002-06-30
2  2002-07-01 2002-09-30
3  2002-10-01 2002-12-31
4  2003-01-01 2003-03-31
5  2003-04-01 2003-06-30
6  2003-07-01 2003-09-30
7  2003-10-01 2003-12-31
8  2004-01-01 2004-03-31
9  2004-04-01 2004-06-30
10 2004-07-01 2004-09-30
11 2004-10-01 2004-12-31
12 2005-01-01 2005-03-31
13 2005-04-01 2005-06-30
14 2005-07-01 2005-09-30
15 2005-10-01 2005-12-31
16 2006-01-01 2006-03-31
17 2006-04-01 2006-06-30
18 2006-07-01 2006-09-30
19 2006-10-01 2006-12-31
20 2007-01-01 2007-03-31
21 2007-04-01 2007-06-30
22 2007-07-01 2007-09-30
23 2007-10-01 2007-12-31
24 2008-01-01 2008-03-31
25 2008-04-01 2008-06-30
26 2008-07-01 2008-09-30
27 2008-10-01 2008-12-31
28 2009-01-01 2009-03-31
29 2009-04-01 2009-06-30

In [176]:
df_year_price = df_year_price.reset_index()

In [177]:
df_stock_yield = df_year_price.groupby("Code").agg({'Open': 'first', 'Close': 'last', 'Date': 'last'})

In [180]:
df_stock_yield['diff'] = df_stock_yield.apply(lambda x: (start_date - x['Date']).days, axis=1)

In [181]:
df_stock_yield = df_stock_yield[df_stock_yield['diff'] < 7]

           Open    Close       Date  diff
Code
000010   2660.0   2160.0 2004-06-17   -77
000020   7000.0   6920.0 2004-06-30   -90
000040    445.0    380.0 2004-06-30   -90
000050  51000.0  49000.0 2004-06-30   -90
000060  16950.0  15800.0 2004-06-30   -90
...         ...      ...        ...   ...
076170   2540.0   1850.0 2004-06-30   -90
076850   5280.0   5470.0 2004-06-30   -90
077280  17200.0  12450.0 2004-06-30   -90
077970   5000.0   3075.0 2004-06-30   -90
078350   3980.0   2920.0 2004-06-30   -90

[1754 rows x 4 columns]

In [196]:
def get_stocks(start_date):
    print(start_date)
    year_start_date = start_date - timedelta(days=365)
    year_end_date = start_date
    df_year_price = df_price[(df_price.index > year_start_date) & (df_price.index <= year_end_date)].reset_index()
    
    # 종목별로 과거 1년의 수익률 구하기
    df_stock_yield = df_year_price.groupby("Code").agg({'Open': 'first', 'Close': 'last', 'Date': 'last'}).reset_index()
    df_stock_yield['diff'] = df_stock_yield.apply(lambda x: (start_date - x['Date']).days, axis=1)
    df_stock_yield = df_stock_yield[df_stock_yield['diff'] < 7]
    
    df_stock_yield['yield'] = df_stock_yield['Close'] / df_stock_yield['Open']
    df_stock_yield = df_stock_yield.sort_values(by=['yield'], ascending=False)
    
    return df_stock_yield['Code'].tolist()[:30]

In [197]:
# 연도별 종목을 구한다.
df_account['stocks'] = df_account.apply(lambda x: get_stocks(x.start_date), axis=1)

2002-01-01 00:00:00
2002-04-01 00:00:00
2002-07-01 00:00:00
2002-10-01 00:00:00
2003-01-01 00:00:00
2003-04-01 00:00:00
2003-07-01 00:00:00
2003-10-01 00:00:00
2004-01-01 00:00:00
2004-04-01 00:00:00
2004-07-01 00:00:00
2004-10-01 00:00:00
2005-01-01 00:00:00
2005-04-01 00:00:00
2005-07-01 00:00:00
2005-10-01 00:00:00
2006-01-01 00:00:00
2006-04-01 00:00:00
2006-07-01 00:00:00
2006-10-01 00:00:00
2007-01-01 00:00:00
2007-04-01 00:00:00
2007-07-01 00:00:00
2007-10-01 00:00:00
2008-01-01 00:00:00
2008-04-01 00:00:00
2008-07-01 00:00:00
2008-10-01 00:00:00
2009-01-01 00:00:00
2009-04-01 00:00:00

In [198]:
df_account['yield'] = 0.0
for i, row in df_account.iterrows():
    start_date = df_account.iloc[i].start_date
    end_date = df_account.iloc[i].end_date
    df_year_price = df_price[(df_price.index >= start_date) & (df_price.index <= end_date)]
    
    stocks = row['stocks']
    yields = []
    
    for stock in stocks:
        df_stock_price = df_year_price[df_year_price['Code'] == stock]
        
        if len(df_stock_price) == 0:
            continue
            
        start_price = df_stock_price.iloc[0]['Open']
        end_price = df_stock_price.iloc[len(df_stock_price) - 1]['Close']

        yields.append(end_price / start_price)
    
    yearly_yield = statistics.mean(yields)
    df_account.at[i, 'yield'] = yearly_yield
    
    print(start_date, end_date, yearly_yield)

2002-01-01 00:00:00 2002-03-31 00:00:00 1.0954794608475742
2002-04-01 00:00:00 2002-06-30 00:00:00 0.593922185248745
2002-07-01 00:00:00 2002-09-30 00:00:00 0.7111834444794408
2002-10-01 00:00:00 2002-12-31 00:00:00 0.9276806549978956
2003-01-01 00:00:00 2003-03-31 00:00:00 0.79775509971497
2003-04-01 00:00:00 2003-06-30 00:00:00 1.2504638223678182
2003-07-01 00:00:00 2003-09-30 00:00:00 0.7778299835867479
2003-10-01 00:00:00 2003-12-31 00:00:00 1.048001480371237
2004-01-01 00:00:00 2004-03-31 00:00:00 1.1520445322665067
2004-04-01 00:00:00 2004-06-30 00:00:00 0.9711306110373626
2004-07-01 00:00:00 2004-09-30 00:00:00 0.8129400350842573
2004-10-01 00:00:00 2004-12-31 00:00:00 1.0735271470759928
2005-01-01 00:00:00 2005-03-31 00:00:00 1.316736338350419
2005-04-01 00:00:00 2005-06-30 00:00:00 1.0314717396956379
2005-07-01 00:00:00 2005-09-30 00:00:00 1.1719344777620213
2005-10-01 00:00:00 2005-12-31 00:00:00 0.9686384925607867
2006-01-01 00:00:00 2006-03-31 00:00:00 0.9343144105049322
2006-04-01 00:00:00 2006-06-30 00:00:00 0.831826535665317
2006-07-01 00:00:00 2006-09-30 00:00:00 0.9765164459264574
2006-10-01 00:00:00 2006-12-31 00:00:00 0.8354575848856196
2007-01-01 00:00:00 2007-03-31 00:00:00 0.9763607619875531
2007-04-01 00:00:00 2007-06-30 00:00:00 0.96590910621541
2007-07-01 00:00:00 2007-09-30 00:00:00 1.0774122086591238
2007-10-01 00:00:00 2007-12-31 00:00:00 0.8833097571389101
2008-01-01 00:00:00 2008-03-31 00:00:00 0.9260110560203938
2008-04-01 00:00:00 2008-06-30 00:00:00 0.8571346904102777
2008-07-01 00:00:00 2008-09-30 00:00:00 0.6753080588325974
2008-10-01 00:00:00 2008-12-31 00:00:00 0.4659029667301841
2009-01-01 00:00:00 2009-03-31 00:00:00 1.0296515185261716
2009-04-01 00:00:00 2009-06-30 00:00:00 1.064489961553842

In [199]:
df_account['cum_yield'] = df_account['yield'].cumprod()

In [200]:
df_account

,start_date,end_date,stocks,yield,cum_yield
0,2002-01-01,2002-03-31,"[002055, 015545, 012270, 002050, 003930, 00356...",1.095479,1.095479
1,2002-04-01,2002-06-30,"[036900, 008705, 002055, 003930, 001675, 01841...",0.593922,0.650630
2,2002-07-01,2002-09-30,"[013000, 004965, 013005, 001250, 008705, 01227...",0.711183,0.462717
3,2002-10-01,2002-12-31,"[004965, 008705, 000400, 013000, 011160, 01401...",0.927681,0.429254
4,2003-01-01,2003-03-31,"[008705, 004965, 017555, 004870, 000470, 00401...",0.797755,0.342439
5,2003-04-01,2003-06-30,"[004870, 017555, 020120, 004010, 012650, 01401...",1.250464,0.428208
6,2003-07-01,2003-09-30,"[020120, 000660, 009275, 009270, 010670, 06513...",0.777830,0.333073
7,2003-10-01,2003-12-31,"[000660, 053450, 009275, 025830, 013360, 00927...",1.048001,0.349061
8,2004-01-01,2004-03-31,"[000660, 003560, 009270, 017800, 027040, 00143...",1.152045,0.402134
9,2004-04-01,2004-06-30,"[004660, 025830, 004410, 009270, 009275, 01554...",0.971131,0.390524
10,2004-07-01,2004-09-30,"[008080, 004410, 001745, 004415, 017550, 00174...",0.812940,0.317473
11,2004-10-01,2004-12-31,"[006750, 001745, 004410, 001430, 006090, 00542...",1.073527,0.340816
12,2005-01-01,2005-03-31,"[007720, 016100, 008080, 031390, 010460, 03319...",1.316736,0.448765
13,2005-04-01,2005-06-30,"[007720, 033190, 053595, 032710, 010420, 01046...",1.031472,0.462888
14,2005-07-01,2005-09-30,"[028300, 028305, 031390, 010460, 041960, 04597...",1.171934,0.542474
15,2005-10-01,2005-12-31,"[025460, 028305, 010460, 053590, 015170, 02830...",0.968638,0.525461
16,2006-01-01,2006-03-31,"[025460, 011000, 028305, 036360, 058550, 04287...",0.934314,0.490946
17,2006-04-01,2006-06-30,"[054780, 049690, 025460, 002540, 070080, 01300...",0.831827,0.408382
18,2006-07-01,2006-09-30,"[054780, 009320, 013005, 002540, 070080, 00341...",0.976516,0.398792
19,2006-10-01,2006-12-31,"[054780, 010670, 002540, 065610, 056200, 03935...",0.835458,0.333174
20,2007-01-01,2007-03-31,"[054780, 010670, 002540, 058820, 038920, 03724...",0.976361,0.325298
21,2007-04-01,2007-06-30,"[051170, 010670, 050050, 046390, 018415, 00932...",0.965909,0.314208
22,2007-07-01,2007-09-30,"[009730, 037240, 032980, 049180, 046390, 04771...",1.077412,0.338532
23,2007-10-01,2007-12-31,"[018415, 018417, 009730, 049180, 032980, 02379...",0.883310,0.299028
24,2008-01-01,2008-03-31,"[037830, 012405, 042870, 035900, 049180, 00973...",0.926011,0.276903
25,2008-04-01,2008-06-30,"[035900, 053595, 049180, 037830, 009815, 00068...",0.857135,0.237344
26,2008-07-01,2008-09-30,"[053595, 012405, 000685, 043580, 054150, 03985...",0.675308,0.160280
27,2008-10-01,2008-12-31,"[053890, 054150, 066430, 053595, 039850, 05890...",0.465903,0.074675
28,2009-01-01,2009-03-31,"[066430, 054150, 036790, 028040, 006920, 05359...",1.029652,0.076889
29,2009-04-01,2009-06-30,"[066430, 038720, 007480, 055250, 068270, 05685...",1.064490,0.081848