In [1]:
import statistics
import numpy as np
import pandas as pd
from marcap import marcap_data
from datetime import datetime, timedelta

In [2]:
# 백테스트 기간의 가격 정보를 가져온다.
df_price = marcap_data('2000-01-01', '2019-12-31')

In [28]:
quarter_start_month = [1, 4, 7, 10]
days = []
year = 2002
for i in range(60):
    month = quarter_start_month[i % 4]
    start_date = datetime(year, month, 1)
    
    if month == 10:
        year += 1
    
    month = quarter_start_month[(i + 1) % 4]
    end_date = datetime(year, month, 1) - timedelta(days=1)
    
    day = {'start_date':start_date, 'end_date':end_date}
    days.append(day)

In [29]:
df_account = pd.DataFrame(columns=['start_date', 'end_date'])

In [30]:
df_account = df_account.append(days)

In [31]:
df_account

   start_date   end_date
0  2002-01-01 2002-03-31
1  2002-04-01 2002-06-30
2  2002-07-01 2002-09-30
3  2002-10-01 2002-12-31
4  2003-01-01 2003-03-31
5  2003-04-01 2003-06-30
6  2003-07-01 2003-09-30
7  2003-10-01 2003-12-31
8  2004-01-01 2004-03-31
9  2004-04-01 2004-06-30
10 2004-07-01 2004-09-30
11 2004-10-01 2004-12-31
12 2005-01-01 2005-03-31
13 2005-04-01 2005-06-30
14 2005-07-01 2005-09-30
15 2005-10-01 2005-12-31
16 2006-01-01 2006-03-31
17 2006-04-01 2006-06-30
18 2006-07-01 2006-09-30
19 2006-10-01 2006-12-31
20 2007-01-01 2007-03-31
21 2007-04-01 2007-06-30
22 2007-07-01 2007-09-30
23 2007-10-01 2007-12-31
24 2008-01-01 2008-03-31
25 2008-04-01 2008-06-30
26 2008-07-01 2008-09-30
27 2008-10-01 2008-12-31
28 2009-01-01 2009-03-31
29 2009-04-01 2009-06-30
30 2009-07-01 2009-09-30
31 2009-10-01 2009-12-31
32 2010-01-01 2010-03-31
33 2010-04-01 2010-06-30
34 2010-07-01 2010-09-30
35 2010-10-01 2010-12-31
36 2011-01-01 2011-03-31
37 2011-04-01 2011-06-30
38 2011-07-01 2011-09-30
39 2011-10-01 2011-12-31
40 2012-01-01 2012-03-31
41 2012-04-01 2012-06-30
42 2012-07-01 2012-09-30
43 2012-10-01 2012-12-31
44 2013-01-01 2013-03-31
45 2013-04-01 2013-06-30
46 2013-07-01 2013-09-30
47 2013-10-01 2013-12-31
48 2014-01-01 2014-03-31
49 2014-04-01 2014-06-30
50 2014-07-01 2014-09-30
51 2014-10-01 2014-12-31
52 2015-01-01 2015-03-31
53 2015-04-01 2015-06-30
54 2015-07-01 2015-09-30
55 2015-10-01 2015-12-31
56 2016-01-01 2016-03-31
57 2016-04-01 2016-06-30
58 2016-07-01 2016-09-30
59 2016-10-01 2016-12-31

In [37]:
def get_stocks(start_date):
    print(start_date)
    year_start_date = start_date - timedelta(days=365)
    year_end_date = start_date - timedelta(days=30)
    df_year_price = df_price[(df_price.index > year_start_date) & (df_price.index <= year_end_date)].reset_index()
    
    # 종목별로 과거 1년의 수익률 구하기 (마지막 1달은 제외)
    df_stock_yield = df_year_price.groupby("Code").agg({'Open': 'first', 'Close': 'last', 'Date': 'last', 'Marcap': 'last'}).reset_index()
    
    df_stock_yield['diff'] = df_stock_yield.apply(lambda x: (year_end_date - x['Date']).days, axis=1)
    df_stock_yield = df_stock_yield[df_stock_yield['diff'] < 7]
    
    # 시총 하위 50%만 필터링
    df_stock_yield = df_stock_yield.sort_values(by=['Marcap'])
    df_stock_yield = df_stock_yield[:int(len(df_stock_yield)*0.3)]
    
    df_stock_yield['yield'] = df_stock_yield['Close'] / df_stock_yield['Open']
    df_stock_yield = df_stock_yield.sort_values(by=['yield'], ascending=False)
    
    return df_stock_yield['Code'].tolist()[:30]

In [38]:
# 종목을 구한다.
df_account['stocks'] = df_account.apply(lambda x: get_stocks(x.start_date), axis=1)

2002-01-01 00:00:00
2002-04-01 00:00:00
2002-07-01 00:00:00
2002-10-01 00:00:00
2003-01-01 00:00:00
2003-04-01 00:00:00
2003-07-01 00:00:00
2003-10-01 00:00:00
2004-01-01 00:00:00
2004-04-01 00:00:00
2004-07-01 00:00:00
2004-10-01 00:00:00
2005-01-01 00:00:00
2005-04-01 00:00:00
2005-07-01 00:00:00
2005-10-01 00:00:00
2006-01-01 00:00:00
2006-04-01 00:00:00
2006-07-01 00:00:00
2006-10-01 00:00:00
2007-01-01 00:00:00
2007-04-01 00:00:00
2007-07-01 00:00:00
2007-10-01 00:00:00
2008-01-01 00:00:00
2008-04-01 00:00:00
2008-07-01 00:00:00
2008-10-01 00:00:00
2009-01-01 00:00:00
2009-04-01 00:00:00
2009-07-01 00:00:00
2009-10-01 00:00:00
2010-01-01 00:00:00
2010-04-01 00:00:00
2010-07-01 00:00:00
2010-10-01 00:00:00
2011-01-01 00:00:00
2011-04-01 00:00:00
2011-07-01 00:00:00
2011-10-01 00:00:00
2012-01-01 00:00:00
2012-04-01 00:00:00
2012-07-01 00:00:00
2012-10-01 00:00:00
2013-01-01 00:00:00
2013-04-01 00:00:00
2013-07-01 00:00:00
2013-10-01 00:00:00
2014-01-01 00:00:00
2014-04-01 00:00:00
2014-07-01 00:00:00
2014-10-01 00:00:00
2015-01-01 00:00:00
2015-04-01 00:00:00
2015-07-01 00:00:00
2015-10-01 00:00:00
2016-01-01 00:00:00
2016-04-01 00:00:00
2016-07-01 00:00:00
2016-10-01 00:00:00

In [39]:
df_account['yield'] = 0.0
for i, row in df_account.iterrows():
    start_date = df_account.iloc[i].start_date
    end_date = df_account.iloc[i].end_date
    df_year_price = df_price[(df_price.index >= start_date) & (df_price.index <= end_date)]
    
    stocks = row['stocks']
    yields = []
    
    for stock in stocks:
        df_stock_price = df_year_price[df_year_price['Code'] == stock]
        
        if len(df_stock_price) == 0:
            continue
            
        start_price = df_stock_price.iloc[0]['Open']
        end_price = df_stock_price.iloc[len(df_stock_price) - 1]['Close']

        yields.append(end_price / start_price)
    
    yearly_yield = statistics.mean(yields)
    df_account.at[i, 'yield'] = yearly_yield
    
    print(start_date, end_date, yearly_yield)

2002-01-01 00:00:00 2002-03-31 00:00:00 1.0738154465739655
2002-04-01 00:00:00 2002-06-30 00:00:00 0.8335991869420161
2002-07-01 00:00:00 2002-09-30 00:00:00 0.9450540516937133
2002-10-01 00:00:00 2002-12-31 00:00:00 0.814479588084073
2003-01-01 00:00:00 2003-03-31 00:00:00 0.8022455849822105
2003-04-01 00:00:00 2003-06-30 00:00:00 1.3384097513196356
2003-07-01 00:00:00 2003-09-30 00:00:00 0.9581467945207667
2003-10-01 00:00:00 2003-12-31 00:00:00 1.018510276089439
2004-01-01 00:00:00 2004-03-31 00:00:00 1.0192145592142603
2004-04-01 00:00:00 2004-06-30 00:00:00 1.061135179111703
2004-07-01 00:00:00 2004-09-30 00:00:00 0.9403372920555642
2004-10-01 00:00:00 2004-12-31 00:00:00 1.066100403848856
2005-01-01 00:00:00 2005-03-31 00:00:00 1.1434444830854202
2005-04-01 00:00:00 2005-06-30 00:00:00 1.2071821031237722
2005-07-01 00:00:00 2005-09-30 00:00:00 1.119953795286427
2005-10-01 00:00:00 2005-12-31 00:00:00 1.1761424307238468
2006-01-01 00:00:00 2006-03-31 00:00:00 1.0688474855173227
2006-04-01 00:00:00 2006-06-30 00:00:00 0.8767399353256716
2006-07-01 00:00:00 2006-09-30 00:00:00 0.9574577293633841
2006-10-01 00:00:00 2006-12-31 00:00:00 0.9390587872309988
2007-01-01 00:00:00 2007-03-31 00:00:00 1.0358038147979172
2007-04-01 00:00:00 2007-06-30 00:00:00 1.5273283637593902
2007-07-01 00:00:00 2007-09-30 00:00:00 1.135431537009548
2007-10-01 00:00:00 2007-12-31 00:00:00 0.9777129453114557
2008-01-01 00:00:00 2008-03-31 00:00:00 0.912526919480057
2008-04-01 00:00:00 2008-06-30 00:00:00 0.9584652049094207
2008-07-01 00:00:00 2008-09-30 00:00:00 0.7179231368840251
2008-10-01 00:00:00 2008-12-31 00:00:00 0.636534144109853
2009-01-01 00:00:00 2009-03-31 00:00:00 0.9836627731098635
2009-04-01 00:00:00 2009-06-30 00:00:00 0.9493549226609537
2009-07-01 00:00:00 2009-09-30 00:00:00 0.8174517754807172
2009-10-01 00:00:00 2009-12-31 00:00:00 0.7893839308879782
2010-01-01 00:00:00 2010-03-31 00:00:00 0.8164522231351058
2010-04-01 00:00:00 2010-06-30 00:00:00 0.8541295392892548
2010-07-01 00:00:00 2010-09-30 00:00:00 1.0175572031846973
2010-10-01 00:00:00 2010-12-31 00:00:00 0.8695555979765558
2011-01-01 00:00:00 2011-03-31 00:00:00 0.9455317387581466
2011-04-01 00:00:00 2011-06-30 00:00:00 0.8339948271766117
2011-07-01 00:00:00 2011-09-30 00:00:00 0.771883768205078
2011-10-01 00:00:00 2011-12-31 00:00:00 1.135863273690095
2012-01-01 00:00:00 2012-03-31 00:00:00 1.0770867298854279
2012-04-01 00:00:00 2012-06-30 00:00:00 0.9245079042595704
2012-07-01 00:00:00 2012-09-30 00:00:00 1.0154189515011298
2012-10-01 00:00:00 2012-12-31 00:00:00 0.9035618632126506
2013-01-01 00:00:00 2013-03-31 00:00:00 1.2996274833049641
2013-04-01 00:00:00 2013-06-30 00:00:00 1.0198277099041375
2013-07-01 00:00:00 2013-09-30 00:00:00 1.1404931269316068
2013-10-01 00:00:00 2013-12-31 00:00:00 0.8549582288036124
2014-01-01 00:00:00 2014-03-31 00:00:00 1.1930671933580717
2014-04-01 00:00:00 2014-06-30 00:00:00 0.8438863035621263
2014-07-01 00:00:00 2014-09-30 00:00:00 0.9565393428433464
2014-10-01 00:00:00 2014-12-31 00:00:00 0.9472919502631363
2015-01-01 00:00:00 2015-03-31 00:00:00 1.4138868161539928
2015-04-01 00:00:00 2015-06-30 00:00:00 1.0886931152832373
2015-07-01 00:00:00 2015-09-30 00:00:00 1.1741534513324712
2015-10-01 00:00:00 2015-12-31 00:00:00 1.0833854193863979
2016-01-01 00:00:00 2016-03-31 00:00:00 1.0484366281444306
2016-04-01 00:00:00 2016-06-30 00:00:00 1.023543363842392
2016-07-01 00:00:00 2016-09-30 00:00:00 1.0769490409203744
2016-10-01 00:00:00 2016-12-31 00:00:00 0.828644751639425

In [40]:
df_account['cum_yield'] = df_account['yield'].cumprod()

In [41]:
df_account

,start_date,end_date,stocks,yield,cum_yield
0,2002-01-01,2002-03-31,"[015545, 015540, 020490, 014280, 009160, 02174...",1.073815,1.073815
1,2002-04-01,2002-06-30,"[012270, 002055, 015545, 025620, 002050, 01554...",0.833599,0.895132
2,2002-07-01,2002-09-30,"[013000, 004965, 008705, 013005, 012270, 00205...",0.945054,0.845948
3,2002-10-01,2002-12-31,"[004965, 008705, 001600, 004960, 001675, 01755...",0.814480,0.689007
4,2003-01-01,2003-03-31,"[008705, 004965, 003905, 003900, 017555, 00763...",0.802246,0.552753
5,2003-04-01,2003-06-30,"[017555, 020120, 000300, 017550, 026260, 03197...",1.338410,0.739810
6,2003-07-01,2003-09-30,"[009275, 020120, 068875, 031970, 026260, 01067...",0.958147,0.708847
7,2003-10-01,2003-12-31,"[009275, 008320, 015545, 010670, 027040, 00149...",1.018510,0.721968
8,2004-01-01,2004-03-31,"[027040, 032610, 009275, 015545, 008400, 00840...",1.019215,0.735840
9,2004-04-01,2004-06-30,"[009275, 015545, 008400, 007195, 000725, 01567...",1.061135,0.780826
10,2004-07-01,2004-09-30,"[001745, 004415, 008400, 028305, 008405, 00072...",0.940337,0.734239
11,2004-10-01,2004-12-31,"[001745, 004415, 041500, 007720, 036790, 03279...",1.066100,0.782773
12,2005-01-01,2005-03-31,"[006750, 036020, 010420, 005760, 004415, 01889...",1.143444,0.895057
13,2005-04-01,2005-06-30,"[050050, 053595, 036020, 033855, 006750, 03540...",1.207182,1.080497
14,2005-07-01,2005-09-30,"[028305, 050050, 053595, 008405, 036660, 03385...",1.119954,1.210107
15,2005-10-01,2005-12-31,"[028305, 052290, 037110, 015675, 058550, 03540...",1.176142,1.423258
16,2006-01-01,2006-03-31,"[028305, 058550, 030350, 015675, 013005, 03666...",1.068847,1.521246
17,2006-04-01,2006-06-30,"[016975, 013005, 015675, 044775, 003417, 01697...",0.876740,1.333737
18,2006-07-01,2006-09-30,"[070080, 013005, 003417, 003415, 003419, 03328...",0.957458,1.276997
19,2006-10-01,2006-12-31,"[070080, 033280, 003417, 003419, 036760, 00341...",0.939059,1.199175
20,2007-01-01,2007-03-31,"[018415, 070080, 018417, 044775, 036090, 05304...",1.035804,1.242110
21,2007-04-01,2007-06-30,"[018415, 037240, 053040, 018417, 054180, 04477...",1.527328,1.897110
22,2007-07-01,2007-09-30,"[014420, 037240, 033725, 053040, 018415, 03850...",1.135432,2.154039
23,2007-10-01,2007-12-31,"[008405, 018415, 018417, 044775, 012405, 05597...",0.977713,2.106031
24,2008-01-01,2008-03-31,"[000425, 049180, 000685, 033725, 009730, 01240...",0.912527,1.921810
25,2008-04-01,2008-06-30,"[053595, 009815, 000685, 012405, 033725, 00649...",0.958465,1.841988
26,2008-07-01,2008-09-30,"[009815, 053595, 012405, 000685, 039850, 05415...",0.717923,1.322406
27,2008-10-01,2008-12-31,"[054150, 015390, 053595, 066430, 053590, 03679...",0.636534,0.841757
28,2009-01-01,2009-03-31,"[066430, 028040, 053595, 054150, 053330, 03872...",0.983663,0.828005
29,2009-04-01,2009-06-30,"[066430, 038720, 007480, 055250, 020075, 03627...",0.949355,0.786070
30,2009-07-01,2009-09-30,"[003060, 020075, 050760, 044775, 045050, 03571...",0.817452,0.642575
31,2009-10-01,2009-12-31,"[038120, 037380, 003060, 020070, 048640, 01705...",0.789384,0.507238
32,2010-01-01,2010-03-31,"[023670, 054120, 004870, 076090, 035405, 03738...",0.816452,0.414136
33,2010-04-01,2010-06-30,"[012170, 035405, 065180, 037110, 037380, 04358...",0.854130,0.353725
34,2010-07-01,2010-09-30,"[012405, 013367, 037240, 011155, 016167, 06518...",1.017557,0.359936
35,2010-10-01,2010-12-31,"[012405, 054150, 016167, 016160, 012170, 04782...",0.869556,0.312984
36,2011-01-01,2011-03-31,"[012405, 033855, 016160, 016167, 032685, 01240...",0.945532,0.295937
37,2011-04-01,2011-06-30,"[012410, 033855, 012405, 028305, 046940, 05229...",0.833995,0.246810
38,2011-07-01,2011-09-30,"[012410, 004870, 046940, 028305, 053040, 00854...",0.771884,0.190508
39,2011-10-01,2011-12-31,"[090990, 012410, 004870, 037550, 060230, 02830...",1.135863,0.216391
40,2012-01-01,2012-03-31,"[005980, 053040, 010600, 067130, 052350, 04106...",1.077087,0.233072
41,2012-04-01,2012-06-30,"[078860, 045470, 010600, 054300, 067130, 04106...",0.924508,0.215477
42,2012-07-01,2012-09-30,"[010600, 002787, 005320, 031860, 002785, 00498...",1.015419,0.218800
43,2012-10-01,2012-12-31,"[010600, 005320, 060240, 002787, 031860, 00278...",0.903562,0.197699
44,2013-01-01,2013-03-31,"[008900, 060240, 031860, 002787, 078860, 03834...",1.299627,0.256935
45,2013-04-01,2013-06-30,"[060230, 014825, 078940, 060240, 031860, 04320...",1.019828,0.262029
46,2013-07-01,2013-09-30,"[014825, 043200, 002535, 043220, 002995, 05138...",1.140493,0.298843
47,2013-10-01,2013-12-31,"[002005, 043200, 002535, 014825, 043220, 02948...",0.854958,0.255498
48,2014-01-01,2014-03-31,"[002995, 002535, 019660, 003965, 007460, 01280...",1.193067,0.304826
49,2014-04-01,2014-06-30,"[026260, 000685, 046400, 019660, 000995, 00396...",0.843886,0.257239
50,2014-07-01,2014-09-30,"[019660, 035290, 053950, 118000, 005320, 00396...",0.956539,0.246059
51,2014-10-01,2014-12-31,"[001529, 001525, 035290, 118000, 000995, 05395...",0.947292,0.233090
52,2015-01-01,2015-03-31,"[035290, 118000, 001525, 023770, 001529, 00152...",1.413887,0.329563
53,2015-04-01,2015-06-30,"[090970, 023770, 043910, 008900, 027970, 00307...",1.088693,0.358792
54,2015-07-01,2015-09-30,"[017000, 043910, 008900, 032790, 014825, 02377...",1.174153,0.421277
55,2015-10-01,2015-12-31,"[066430, 006345, 023770, 001745, 021045, 03279...",1.083385,0.456406
56,2016-01-01,2016-03-31,"[005965, 179440, 058370, 050320, 089230, 00634...",1.048437,0.478513
57,2016-04-01,2016-06-30,"[005965, 028040, 009190, 223220, 225850, 15617...",1.023543,0.489778
58,2016-07-01,2016-09-30,"[018290, 016385, 063760, 018700, 223220, 17944...",1.076949,0.527466
59,2016-10-01,2016-12-31,"[018290, 009190, 016385, 185280, 204840, 23772...",0.828645,0.437082